# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
/*.suo
/Parser/*.suo
/-Parser/*.suo


# mstest test results
TestResults


_ReSharper.ParsingTables
/_ReSharper.ParsingTables

